<link rel="stylesheet" href="/css/notFound.css">
<h1>
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <br>
  This page does not exists!
</h1>

<a href="/" class="btn btn-default return-btn">Click here to return.</a>