<!-- link stylesheet to over-ride main style.css -->
<link rel="stylesheet" href="/css/dashboard.css">

<h2 class="page-header">
  <span><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
  {{{poll.topic}}}
</h2>

<div class="options-form">
  <form class="options" action="" method="post">
    <div class="form-group">
      {{#each poll.options}}
        <input type="radio" name="vote" value={{option}}>&nbsp;&nbsp;{{this}}<br>
      {{/each}}
    </div>
    <div class="input-group">
      <input type="text" aria-label="Text input with radio button" class="add-input">
      <button type="button" class="btn btn-warning">Add option</button>
    </div>
    <button type="submit" class="btn btn-success vote-btn">Vote</button>
  </form>
  <h4><small>Posted By <a href="#">{{{poll.creator}}}</a></small></h4>
</div>