<!-- link stylesheet to over-ride main style.css -->
<link rel="stylesheet" href="/css/dashboard.css">

<h2 class="page-header">
  <span><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
  {{{poll.topic}}}
</h2>