.full { background: url('/images/ghost-pattern.png'); }

h2 {
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
	font-size: 35px;
}

small {
	font-size: 18px !important;
}

.btn {
  border-radius: 2px;
  font-size: 16px;
}

.tweet-btn {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	color: #c8c8c8 !important;
}

.view-list-btn {
	margin-bottom: 0px;
}

.fa {
  margin-right: 10px;
  color: rgba(157, 174, 193, 0.89);
}

.fa-pie-chart, .fa-list-ul {
	color: #595032;
}

.content {
	background-color: rgba(24, 33, 43, 0.89);
  background-image: none;
	border: none;
	color: #b6c292;
	padding-bottom: 20px;
	border-radius: 0px;
	opacity: 1;
	margin: -0px 10px 10px 10px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.content-right {
	background-color: #938A6D;
}

.header-secondary {
	color: #595032 !important;
	font-weight: 600;
}

.sub-header {
	color: #f1dea3;
}

.options {
	font-size: 20px;
	color: rgb(206, 220, 235);
}

.options-form {
	margin-left: 20px;
	margin-right: 20px;
}

.btn-warning {
	margin-top: 12px;
	width: 310px;
	font-weight: 600;
}

.add-input {
	height: 35px;
	color: rgb(15, 40, 51);
}

.input-group {
	width: 310px;
}

.vote-btn {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 20px;
	width: 310px;
}

.chartContainer {
 background-color: white;
 padding-bottom: 20px;
}

@media only screen and (max-width: 500px) {
	.vote-btn, .input-group, .btn-warning {
		width: 100% !important;
	}
	
	.input-add {
		width: 100%;
	}
	
}