.full { background: url('/images/ghost-pattern.png'); }

h2 {
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
	font-size: 35px;
}

small {
	font-size: 18px !important;
}

.btn {
  border-radius: 2px;
  font-size: 16px;
}

.fa {
  margin-right: 10px;
  color: rgba(157, 174, 193, 0.89);
}

.content {
	background-color: rgba(24, 33, 43, 0.89);
  background-image: none;
	border: none;
	color: #b6c292;
	padding-bottom: 20px;
	border-radius: 0px;
	opacity: 1;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.options {
	font-size: 20px;
	color: rgb(206, 220, 235);
}

.options-form {
	margin-left: 20px;
}

.btn-warning {
	border-radius: 0px;
	height: 35px;
}

.add-input {
	height: 35px;
	border-radius: 0px;
	color: rgb(15, 40, 51);
	border: none;
	text-align: center;
}

.vote-btn {
	margin-top: 12px;
	margin-bottom: 20px;
	width: 310px;
}

@media only screen and (max-width: 500px) {
	.vote-btn, .input-group {
		width: 100% !important;
	}
	
	.input-add {
		width: 100%;
	}
	
	.btn-warning {
		width: 30%;
	}
	
	.add-input {
		width: 70%;
	}
}