html, body, .full {
  background-image: none !important;
  background: none !important;
  text-align: center;
}

.full:before {
  background-image: none !important;
  background: none !important;
}

h1 {
  color: rgb(99, 108, 99) !important;
  font-size: 25px;
  font-family: ‘Arial Black’, Gadget, sans-serif;
}

.fa {
  margin-bottom: 10px;
}

.fa-exclamation-triangle {
  color: rgb(226, 166, 96);
}

.return-btn {
  margin-top: 40px;
}