.page-header {
  border-bottom: none;
  margin-bottom: -5px;
}

.page-header, h4 {
  margin-left: 20px;
}

.right {
  float: right;
}

.content-profile {
  background-color: #938A6D;
  color: #f1dea3;
}

.pollsCreated, .pollsVotedOn {
  font-size: 18px;
}

.poll-row {
  margin-left: 3px;
  margin-bottom: 5px;
}

.poll-btn {
  border-radius: 5px;
  width: 100%;
  text-align: left;
  border: thin solid rgb(44, 54, 47);
  padding: 7px;
  background-color: white;
  color: rgb(37, 40, 36);
  transition: 0.1s;
}

.poll-btn:hover {
  border-color: rgb(255, 107, 0);
  color:rgb(48, 116, 172);
  background-color: rgb(249, 249, 249);
}

a { 
  text-decoration: none !important;
}

.pollsContainer {
  font-family: Century Gothic, sans-serif;
  width: 100%;
}

.breakword {
  word-wrap: break-word;
}

@media only screen and (max-width: 500px) {
  .btn-text {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 400px) {
  .btn-text {
    font-size: 13px !important;
  }
  
  .poll-row {
      margin-left: 0px;
  }
}